@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body{
    font-family: 'Poppins', sans-serif;
    padding: 0;
    margin: 0;
}
section{
    margin-bottom: 150px;
}
h1{
    font-size: 50px;
}
p{
    color: #696969;
}
.flexible-container{
    display: flex;
}
.half-width{
    width: 50%;
    padding-left: 2%;
}
.half-width img{
    width: 90%;
}
.hire-button{
    text-decoration: none;
    padding: 10px 40px;
    border-radius: 5PX;
    background-image: linear-gradient(orange, tomato);
    color: white;
    font-weight: 700;
}
.download-resume{
    text-decoration: none;
    color: white;
    background-image: linear-gradient(orange, tomato);
    font-weight: 700;
    padding: 10px 40px;
    border-radius: 5px;
}
.dream-big{
    background-image: url(./images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.top-banner{
    background-image: url(./images/top-banner.png);
    background-repeat: no-repeat;
}
.left-first-half{
    padding-left: 100px;
}
.color-yellow{
    color: #FFA500;
}
h2{
    font-size: 40px;
}
.shadow{
    box-shadow: 10px 10px 40px gray;
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 20px;
    border-radius: 10px;
}
.experience-section{
    background-image: url(./images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}
#web-baby{
    border-left: 7px solid;
    border-image: linear-gradient(blue, cyan);
    border-image-slice: 1;
}
#web-experienced{
    border-left: 7px solid;
    border-image: linear-gradient(#FFA07A, #FF6347);
    border-image-slice: 1;
}

footer p{
    text-align: center;
}